[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
bleach = "*"
certifi = "*"
chardet = "*"
click = "*"
click-plugins = "*"
cligj = "*"
coverage = "*"
docutils = "*"
future = "*"
hypothesis = "*"
idna = "*"
iniconfig = "*"
mapbox-vector-tile = "*"
mercantile = "*"
munch = "*"
numpy = "*"
scipy = "*"
pkginfo = "*"
pluggy = "*"
protobuf = "*"
psutil = "*"
py = "*"
pyparsing = "*"
requests ="*"
requests-toolbelt = "*"
six = "*"
sortedcontainers = "*"
tqdm = "*"
twine = "*"
urllib3 = "*"
vt2geojson = "*"
webencodings = "*"
Pygments = "*"
haversine = "*"
python-dotenv = "*"
shapely = "*"
turfpy = "*"
geojson = "*"

[dev-packages]
wheel = "*"
build = "*"
pytest = "*"
pytest-arraydiff = "*"
pytest-astropy = "*"
pytest-astropy-header = "*"
pytest-cov = "*"
pytest-doctestplus = "*"
pytest-filter-subpackage = "*"
pytest-openfiles = "*"
pytest-remotedata = "*"
readme-renderer = "*"
appdirs = "*"
black = "*"
flake8 = "*"
mccabe = "*"
mypy-extensions = "*"
pathspec = "*"
pycodestyle = "*"
pyflakes = "*"
regex = "*"
toml = "*"
twine = "*"
check-manifest = "*"
sphinx = "*"
sphinx-markdown-builder = "*"
sphinx-autodoc-typehints = "*"
python-dateutil = "*"
pandas = "*"

[pipenv]
allow_prereleases = true
